<a href="https://colab.research.google.com/github/Taqi12/ConditionsTest/blob/main/ConditionsNew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 10

if n < 4:
  print("n is less than 4")
else:
  print("n is not less than 4")

n is not less than 4

In [3]:
for i in range(5):
  print(i)

0
1
2
3
4

In [4]:
for i in range(5):
  if i == 3:
    break
  print(i)

0
1
2